* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Sans", sans-serif;
}

body {
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  height: calc(100vh - 75px);
}

button {
  cursor: pointer;
}

#navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #212560;
  padding: 8px 30px;
  gap: 20px;
  box-shadow: 0 3px 10px gray;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  align-items: center;
}

#navbar button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.7s ease-in;
}

#navbar button:hover {
  text-decoration: underline;
}

.auth-form-container {
  max-height: calc(100% - 250px);
}

.form-container {
  width: 300px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 166, 166, 0.3);
}

.form-container h1 {
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: #b868b4;
  text-underline-offset: 5px;
}

.form-container input {
  font-size: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 85%;
  padding: 0 5px 7px 5px;
}

.form-container input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}

#no-chat {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #656161;
}

#user-name {
  display: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.login-signup-btn {
  background-color: #090979;
  color: white;
  border: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  justify-content: center;
  border-radius: 20px;
  padding: 6px 15px;
  font-weight: bold;
}

#chat-page {
  height: 100%;
  margin-top: 75px;
}

#chat-container {
  height: 97%;
  width: 450px;
  margin: auto;
  /* border: 1px solid white; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #fff;
}

#chat-top {
  background-color: #794c09;
  height: 50px;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#chat-top h1 {
  font-size: 20px;
}

#top-bar-bot-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#chat-bottom {
  background-color: white;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* border-top: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#chat-input {
  outline: none;
  border: none;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 10px 20px 8px 20px;
  width: 85%;
  font-size: 20px;
}

#chat-input:focus {
  outline: none;
}

#msg-send-btn {
  width: 30px;
  height: 30px;
  cursor: not-allowed;
  color: gray;
  font-size: 30px;
  font-weight: bolder;
}

#chat-mid {
  background-color: rgb(213, 210, 210, 1);
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  overflow-y: scroll;
}
#chat-mid::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#chat-mid::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#chat-mid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
#chat-mid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bot-msg-container {
  display: flex;
  justify-content: flex-start;
}

.client-msg-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  min-height: auto;
}

.bot-msg {
  background-color: white;
  color: #000;
  font-size: 16px;
  padding: 10px;
  border-radius: 18px 18px 18px 0;
  max-width: 65%;
  word-break: break-word;
}

.client-msg {
  background-color: navy;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 18px 18px 0 18px;
  max-width: 65%;
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  /* left: 50%; Center the snackbar */
  right: 30px; /* 30px from the bottom */
  top: 70px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
  transition: opacity 0.75s visibility 0.75s;
  z-index: 99999;
}

.loader-hidden {
  visibility: hidden;
  opacity: 0;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
